.banner-section{
    float:left;
    width:100%;
}
.banner-section img{
    width:100%;
}
.hero-section{
    width:100%;
    float:left;
    margin-bottom: 10%;
}
.sub-hero-section1{
    float:left;
    width:50%;
    background-color: #fff;
}
.sub-hero-section1 img{
    width:60%;
}
.sub-hero-section2{
    float:left;
    width:50%;
    text-align: center;
}
.sub-hero-section2 h1{
    font-family: "Rubik Doodle Shadow", system-ui;
  letter-spacing: 3px;
  color:black;
  text-decoration:none;
}
.sub-hero-section2 img{
    width:100%;
}
.gallery-section{
    float:left;
    width:100%;
    margin:5% 0% 0% 0%;
}
.sub-gallery-section-1 h1{ 
    font-family: "Rubik Doodle Shadow", system-ui;
    font-size: 40px;
    text-align: center;
}
.sub-gallery-section-2 img{
    width:19%;
}
#play{
    float:left;
    width:17%;
    margin-left:2%;
    margin-right:0.5%;
}
.volunteer-section{
    width:100%;
    margin:5% 0% 0% 0%;
}
.sub-volunteer-section-1{
    width:50%;
    float:left;
}
.sub-volunteer-section-1 img{
    float:left;
    width: 40%;
    margin:2% 0% 0% 33%;
}
.sub-volunteer-section-2{
    width:30%;
    float:left;
}
.sub-volunteer-section-2 h1{
    font-family: "Rubik Doodle Shadow", system-ui;
}
#para{
    float:right;
    margin:18% 0% 0% 20%;
}
.footer-section{
    float:left;
    width:100%;
    background-color: rgba(87,86,86);
    margin-top: 5%;
    padding:2% 0% 2% 0%;
}
.sub-footer-section-1,.sub-footer-section-3{
    float: left;
    width:16%;
    margin:0% 0% 0% 9%;
    padding:0% 0% 1% 2%;
    color:#fff;
    border:solid 2px white;
    
}
.sub-footer-section-2{
    float: left;
    width:15%;
    font-size: 20px;
    padding:0% 3% 2% 0%;
    margin:0% 0% 0% 5%;
    border:solid 2px white;
}
.sub-footer-section-2 input,select{
    padding:1% 2% 5% 2%;
    margin:1%;
}
.copy-section{
    float:left;
    width:100%;
    background-color: rgba( 29,20,28);
    color:white;
    text-align:center;
}
.admissions-section{
    float: left;
    width: 40%;
    /* background-color: aqua; */
    padding: 2%;
    margin: 5% 0% 0% 30%;
}

.top-btn{
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.down-btn{
    float: left;
    width: 100%;
    text-align: center;

}

.top-btn a,.down-btn a{
    float: left;
    width: 25%;
    border: solid 2px black;
    padding: 2% 2% 2% 2%;
    font-size: 24px;
    text-decoration: none;
    margin: 0% 10% 0% 0%;
}

.down-btn a{
    border: solid 2px black;
}

.register-section,.update-section,.delete-section{
    float: left;
    width: 30%;
    padding: 5%;
    margin: 0% 0% 0% 25%;
}

.register-section input,.update-section input,#update-drop, .delete-section input{
    width: 90%;
    border: solid 3px black;
    font-size: 20px;
    padding: 2%;
    margin: 1%;
}

#register-btn, #update-btn, #delete-btn{
    float: left;
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
}