<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="banner-section">
        <img src="../static/images/nrcm-main/banner.jpg" alt="">
    </div>
    <div class="hero-section">
        <div class="sub-hero-section1">
            <img src="../static/images/nrcm-main/admissions.jpg" alt="" >
        </div>
        <div class="sub-hero-section2">
           <a href="/admissions"><h1>MANAGE ADMISSIONS</h1></a>
            <img src="../static/images/nrcm-main/college2.jpg" alt="">
        </div>
    </div>
    <div class="gallary-section">
        <div class="sub-gallery-section-1">
            <h1>NRCM GALLERY</h1>
        </div>
        <div class="sub-gallery-section-2">
            <img id="play" src="../static/images/nrcm-main/play.jpg" alt="" >
            <img src="../static/images/nrcm-main/students.jpg" alt="">
            <img  src="../static/images/nrcm-main/dining.jpg" alt="">
            <img  src="../static/images/nrcm-main/seminar.jpg" alt="">
            <img  src="../static/images/nrcm-main/graduation.jpg" alt="">
        </div>

    </div>
    <div class="volunteer-section">
        <div class="sub-volunteer-section-1">
            <img src="../static/images/nrcm-main/hr.jpg" alt="">
        </div>
        <div class="sub-volunteer-section-2">
            <h1>CONTACT OUR VOLUNTEER</h1>
            <p>For any instance or any difficulties
                in the process of admissions,
                please feel free to reach out to the volunteers</p>
            <p>She will take care of your pickup and accomodation
                and also she will be guide to you for the campus tour</p>
            <p id="para">(+91) 123-456-7890 <br>
                admission@nrcm.com</p>
        </div>
    </div>
    <div class="footer-section">
        <div class="sub-footer-section-1">
                <h1>ADDRESS</h1>
                <p>Maisammaguda(V),Kompally<br>
                    Secunderabad-500100
                    Telangana State,India</p>
        </div>
        <div class="sub-footer-section-2">
            <form action ="/form" method="post">
                <input type="text" name="name" placeholder="name"><br>
                <input type="email" name="email" placeholder="email"><br>
                <input type="number" name="phone" placeholder="phone"><br>
                <select name="course" id="">
                    <option value="cse">cse</option>
                    <option value="ece">ece</option>
                    <option value="cyber">cyber</option>
                    <option value="robotics">robotics</option>
                </select><br>
                <input type="submit" value="call Me">
            </form>
        </div>
        <div class="sub-footer-section-3">
                <h1>CONTACT</h1>
                <p>Landline:040-2795765634<br>
                    Email:principal@nrcm.org
                    Website:www.nrcmec.org</p>
        </div>  
    </div>
    <div class="copy-section"> 
    <p>Copyright@2023|All Rights Reserved|</p>
    </div>
</body>
</html>