<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="register-section">
        <form action="/register-form" method="post">
            <input type="number" name="id" placeholder="ID">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <input type="number" name="phone" placeholder="Phone Number">
            <input type="number" name="percentage" placeholder="Inter Percentage">
            <input type="number" name="rank" placeholder="Eamcet Rank">
            <input type="text" name="course" placeholder="Course Interested">
            <input type="text" name="address" placeholder="Address">
            <input type="submit" value="REGISTER">
        </form>
    </div>
</body>
</html>